@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  background:#fff url(../img/light-wool.png);
  font-family: 'Open Sans', sans-serif;
}

#gameboard {
  background: #f1f1f1;
  border: 1px solid #e9e9e9;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: inset 5px 5px 5px 0px #e9e9e9;
}

#game-title {
  color: #333;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

#start-button {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset -2px -2px 0 2px rgba(255, 255, 255, 0.1);
  color: #fff;
  display: block;
  font-size: 26px;
  font-weight: 700;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  width: 230px;
}

#start-button:active {
  box-shadow: none;
  position: relative;
  left: 2px;
  top: 2px;
}

#level {
  color: #333;
  font-size: 48px;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
}

#timer {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

#how-to-play {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  width: 380px;
}
#how-to-play p {
  color: #f1f1f1;
  font-weight: 600;
}

.tile {
  width: 20%;
  height: 20%;
  box-sizing: border-box;
  /*border: 1px solid rgba(50, 50, 50, 0.3);*/
}

.hero {background-color: #c3195d !important;}

.hole {
  background-color: rgba(47, 47, 46, 0.1);
  box-shadow: inset 0 0 0 20px rgba(47, 47, 46, 0.1);
}

.colored {background-color: #f70776;}

/* shake animation */
.shake {animation: shake 0.3s; animation-iteration-count: 1;}

/* animations */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 768px) {
  #gameboard {
    width: 300px;
    height: 300px;
  }
}
